.coinTainer {
  width: 81vw;
  background: white;
  margin: 10px 0;
  border: 2px solid purple;
  border-radius: 10px;

  .coinHeader {
    height: 7vh;
    width: 80vw;
    background: white;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .btnTrackCoin {
      height: 7vh;
      box-sizing: 0;
      border-radius: 10px;
    }

    .btnDetails {
      height: 7vh;
      box-sizing: 0;
      border-radius: 10px;
    }

    .iconAndName {
      width: 15vw;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .sparklineDiv {
      width: 15vw;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .pricesame {
      background-color: rgba($color: #000000, $alpha: 0.0)
    }

    @keyframes down {
      from {
        background-color: rgba($color: #f00, $alpha: 1.0);
      }

      to {
        background-color: rgba($color: #f00, $alpha: 0.0);
      }
    }

    @keyframes up {
      from {
        background-color: rgba($color: #0f0, $alpha: 1.0);
      }

      to {
        background-color: rgba($color: #0f0, $alpha: 0.0);
      }
    }

    .priceup {
      animation-name: up;
      animation-duration: 6s;
    }

    .pricedown {
      animation-name: down;
      animation-duration: 6s;
    }
  }

  img {
    background: white;
    border-radius: 10px;
    height: 5vh;
  }

  .btn {
    background-color: white;
    border: 1px solid purple;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .btn:focus {
    outline: 0;
  }

  .btn:hover {
    background-color: purple;
    color: white;
  }

  .coinDetails {
    display: flex;
    flex-flow: row nowrap;

    .mainChart {
      width: 1000px;
    }



  }
}