.userHeader {
  height: 20vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10vw;

  .user {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
      height: 150px;
      width: 150px;
      border: 2px solid purple;
      border-radius: 10px;
      margin: 10px;
    }
  }

  .telegramConnect {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .qrCodeImg {
      border: 2px solid purple;
      border-radius: 15px;
    }

    .connectLink {
      text-align: center;
      width: 120px;
      margin: 15px;
    }

    .or {
      width: 80px;
      font-size: 14px;
    }

    .checkmark {
      margin: 10px;

      img {
        width: 80px;
      }
    }

  }
}

.cardContainer {
  // border: 1px solid red;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .coinCard {
    width: 325px;
    height: 250px;
    min-width: 325px;
    min-height: 250px;
    border: 2px solid purple;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-content: center;

    .coinTrackedDetails {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-evenly;

      .nameAndPrice {
        width: 500px;

        .price {
          display: inline-block;
        }

        h3 {
          margin: 0;
        }
      }

      @keyframes down {
        from {
          background-color: rgba($color: #f00, $alpha: 0.8);
        }

        to {
          background-color: rgba($color: #f00, $alpha: 0);
        }
      }

      @keyframes up {
        from {
          background-color: rgba($color: #0f0, $alpha: 0.8);
        }

        to {
          background-color: rgba($color: #0f0, $alpha: 0);
        }
      }

      .price {
        margin: 5px 0;
      }

      .priceup {
        animation-name: up;
        animation-duration: 6s;
      }

      .pricedown {
        animation-name: down;
        animation-duration: 6s;
      }
    }

    .coinImage {
      img {
        background: white;
        border-radius: 10px;
        height: 5vh;
      }
    }

    .notifContainer {
      .notifSettings {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        input[type="number"] {
          font-size: 18px;
          width: 75px;
          padding: 12px 20px;
          box-sizing: border-box;
        }

        .valuePadding {
          border: 0px inset #ccc;
        }

        .valuePadding input {
          border: none;
          padding: 0px;
          outline: none;
        }
      }

      .notifSwitches {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-items: baseline;

        .removeCoin {
          margin: auto;

          .btn {
            background-color: white;
            border: 2px solid purple;
            border-radius: 10px;
            color: black;
            padding: 5px 10px;
            margin: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
          }

          .btn:focus {
            outline: 0;
          }

          .btn:hover {
            background-color: purple;
            color: white;
          }

        }

        .telegramSwitch {
          display: flex;
          flex-flow: column;
          align-items: center;

          p {
            text-align: center;
          }
        }
      }

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        display: none;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked+.slider {
        background-color: purple;
      }

      input:focus+.slider {
        box-shadow: 0 0 1px purple;
      }

      input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}