.userHeader {
  height: 20vh;
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 10vw;

  .userPic {
    img {
      height: 80px;
      width: 80px;
      border: 2px solid purple;
      border-radius: 10px;
    }
  }
}

.cardContainer {
  border: 1px solid red;
  width: 85vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .coinCard {
    width: 25vw;
    height: 30vh;
    border: 2px solid purple;
    border-radius: 10px;
    background: lightblue;
    margin: 20px;
  }
}
